{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "jest": true
  },
  "rules": {
    "linebreak-style": "off",
    "quotes": [
      1,
      "single"
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js"
        ]
      }
    ],
    "react/destructuring-assignment": "off",
    "react/require-default-props": "off"
  }
}